<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/admin-panel.css" />

</head>
<body>
    <% include header %>
    <div id="content" class="admin-container">
        <div class="admin-header">
                <h2>
                    <%= user %>'sAdmin Page
                </h2>
                <form id="new-page-form" method="GET" action="/edit-page/new-page">
                        <button type="submit">
                            New Page
                        </button>
                </form>    
                
                <hr/>
        </div>
        <div class="admin-content">
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>
                            Page Name
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <!-- dumby data -->
                <tbody>
                        <% for(var i=0; i < pageList.length; i++) { %>
                            <tr>

                                <td class="page-title">
                                    <a href="/<%= pageList[i].url %>"><%= pageList[i].title %></a>
                                </td>
                                <td class ="date"><time datetime="2018-01-11"> Jan 11, 2018 </time></td>
                                <td>

                                    <form class="button-form" method="get" action="/edit-page/update-page">
                                        <input type="hidden" value="<%= pageList[i]._id %>" name="id"/>
                                        <button class="icon-button" type="submit">
                                            <img class="icon" src="\images\icons\003-edit.svg" alt="Edit Page">
                                        </button>
                                    </form>

                                    <button class="delete-button icon-button" page-id-data="<%= pageList[i]._id %>">
                                        <img class="icon" src="\images\icons\001-cancel-button.svg" alt="Delete Page">
                                    </button>

                                    
                                    <form class="button-form"  method="post" action="/edit-page/view">
                                        <% if (!pageList[i].visible) { %>
                                        <button class="view-button view icon-button hidden" type="submit">
                                            <input type="hidden" value="<%= pageList[i]._id %>" name="id"/>
                                            <input type="hidden" value="<%= !pageList[i].visible %>" name="visible"/>
                                            <div class="icon-container icon"></div>
                                        </button>
                                        <% } else { %>
                                        <button class="view-button view icon-button" type="submit">
                                            <input type="hidden" value="<%= pageList[i]._id %>" name="id"/>
                                            <input type="hidden" value="<%= !pageList[i].visible %>" name="visible"/>
                                            <div class="icon-container icon"></div>
                                        </button>
                                        <% } %>
                                    </form>
                                </td>
                            </tr>
                         <% } %>

                </tbody>
                
            </table>          
        </div>
        
        
    </div>
    <script>
        $(function(){
            $(".delete-button").on('click', function(event){
                var button = $(this);
                var pageId = button.attr('page-id-data');
                $.ajax({
                    method:"DELETE",
                    url: `/edit-page/${pageId}`
                })
                .done(function(res){
                    console.log('done');
                    button.closest("tr").remove();

                });
            })
        })        
    </script>
 <!-- class="button-form"  method="post" action="/edit-page/del"> -->
    <% include footer %>
    
</body>
</html>