<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/admin-panel.css" />



</head>
<body>
    <% include ./partials/header %>
    <div id="content" class="form-container">
        <div class="admin-header">
                <h2>
                    <%= user %>'sAdmin Page
                </h2>
                    <button id="new-page-btn" class="black-button" onClick="window.location='./new-page';" >
                        New Page
                    </button>      
                <hr/>
        </div>
        <div class="admin-content">
            <table id="admin-table" class="admin-table">
                <thead>
                    <tr>
                        <th>
                            Page Name
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <!-- dumby data -->
                <tbody id="admin-table-body">
                        <% for(var i=0; i < pageList.length; i++) { %>
                            <tr>

                                <td class="page-title">
                                    <a href="/json/<%= pageList[i].url %>"><%= pageList[i].title %></a>
                                </td>
                                <td class ="date"><time datetime="<%= pageList[i].date %>"><%= pageList[i].date.getMonth() %>-<%= pageList[i].date.getDate()%>    <%= pageList[i].date.getHours() %>: <%= pageList[i].date.getMinutes()%></time></td>
                                <td>

                                    <form class="button-form" method="get" action="/edit-page/update-page">
                                        <input type="hidden" value="<%= pageList[i]._id %>" name="id"/>
                                        <button class="icon-button black-button" type="submit">
                                            <img class="icon" src="\images\icons\003-edit.svg" alt="Edit Page">
                                        </button>
                                    </form>

                                    <button class="delete-button icon-button black-button" page-id-data="<%= pageList[i]._id %>" disabled>
                                        <img class="icon" src="\images\icons\001-cancel-button.svg" alt="Delete Page">
                                    </button> 

                                    <button class="copy-btn icon-button black-button"  data-clipboard-text="" value="json/<%= pageList[i].url %>" >
                                        <img class="icon" src="\images\icons\copy-document.svg" alt="copy" />
                                    </button>

                                
                                </td>
                            </tr>
                         <% } %>
                </tbody>
            </table>          
        </div>
    </div>

    <script src="clipboard.min.js"></script>
    <script src="/js/admin-panel.js"></script>

    <% include footer %>

</body>
</html>